.dotted{
    border-top: 3px dashed white;
}

.delete{
    background-color: #412e25;
    color:white;
    width:80%;
}

.passReset{
    background-color: #274b6d;
    color:white;
    width:80%;
}

.signOut{
    background-color: #1a5235;
    color:white;
    width:80%;
}

.center{
    text-align:center;
}

.centerContent{
    width: 30%;
    margin: 20% 35%;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .centerContent{
        width: 50%;
        margin: 20% 25%;
    }

}

@media screen and (max-width: 776px) {
    .centerContent{
        width: 60%;
        margin: 20% 20%;
    }

}

@media screen and (max-width: 520px) {
    .centerContent{
        width: 86%;
        margin: 20% 7%;
    }

}

