.dotted{
    border-top: 3px dashed white;
}

.login{
    background-color: #334672;
    color:white;
    width:80%;
}

.register{
    background-color: #2E4D34;
    color:white;
    width:80%;
}

.center{
    text-align:center;
}

.centerContent{
    width: 30%;
    margin: 20% 35%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .centerContent{
        width: 50%;
        margin: 20% 25%;
    }

}

@media screen and (max-width: 776px) {
    .centerContent{
        width: 60%;
        margin: 20% 20%;
    }

}

@media screen and (max-width: 520px) {
    .centerContent{
        width: 86%;
        margin: 20% 7%;
    }

}
