.login{
    background-color: #334672;
    color:white;
    width:80%;
    margin-left: 10%;
}
.google{
    width:80%;
    margin-left: 10%;
    margin-top: 1em;
}
.centerContent{
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
}

.centerContent h2{
    text-align:center;
}

.linkStyle{
    color:#334672;
}

@media screen and (max-width: 1200px) {
    .centerContent{
        width: 50%;
        margin: 20% 25%;
    }

}

@media screen and (max-width: 776px) {
    .centerContent{
        width: 60%;
        margin: 20% 20%;
    }

}

@media screen and (max-width: 520px) {
    .centerContent{
        width: 86%;
        margin: 20% 7%;
    }

}