node_modules
.vs/HomeworkTracker/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
ServiceAccountKey.json
Firebase/homeworktracker-b9805-b93ca4800f0d.json
.vs/*
Firebase/.firebase/hosting.cHVibGlj.cache
Firebase/.firebaserc
Firebase/firebase-debug.log
Firebase/ui-debug.log
ServiceAccountKey.json
Firebase/.firebase/hosting.cHVibGlj.cache
Firebase/.firebaserc
Firebase/firebase-debug.log
