node_modules
.vs/HomeworkTracker/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Firebase/homeworktracker-b9805-b93ca4800f0d.json
.vs/*
Firebase/ui-debug.log
Firebase/firebase-debug.log
Firebase/.firebase/*.cache
Firebase/functions/config/serviceAccountKey.json
