<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home_Logged</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap-4.6.0-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="stylesheets/nav.css">
  <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
<div class="navBackground">
<div class="container">
        <ul class=" nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">View Tasks</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addTask">Add a Task</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addTag">Add a Tag</a>
            </li>
            <li class="nav-item rightSide">
                <a class="nav-link" href="/account">View Account Details</a>
            </li>
        </ul>


</div>
</div>
<div class="container">
    <div class="homeContent">

    <h2>
        HW Tracker
    </h2>
    
    <h4 id="namefield">
        Welcome, {{name}}
    </h4>   
    
    <hr class="dotted">   
    <div class="row">
        <div class="col-6 center">
            <button class="btn login"  onclick="window.location.href='login'">
                View Tasks
            </button>
        </div>
        <div class="col-6 center">
            <button class="btn register"  onclick="window.location.href='register'">
                FreeTime
            </button>
        </div>
    </div>

   
    
    </div>
</div>


</body>
</html>