body{
    background-color: #222222;
    color:white;
}

.navBackground{
    background-color: #565555;
}

.nav a{
    color:white;
}

.rightSide a{
    position:absolute;
    top:0;
    right:230px; 
}

.btn:hover{
    color: rgb(150, 150, 150);
}