<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap-4.6.0-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="nav.css">
  <link rel="stylesheet" href="register.css">
</head>
<body>
<div class="navBackground">
<div class="container">
  <ul class=" nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Add a Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Add a Tag</a>
    </li>
    <li class="nav-item rightSide">
        <a class="nav-link" href="login">Login</a>
    </li>
  </ul>


</div>
</div>
<div class="container">
    <div class="registerContent">
    <h2>
        Register: 
    </h2>
    <form action="auth-register" method="POST"> 
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="usr">Email Address:</label>
            <input type="email" class="form-control" id="usr" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
        </div>
        {{#if error}}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
        {{/if}}
        <p>Already Have an account? <a href="login" class="linkStyle">Click here to log in</a> </p>

        <button class="btn register">
            Register
        </button>
    </form>
</div>
</div>
</body>
</html>