<!DOCTYPE html>
<html lang="en">
<head>
  <title> FreeTime - Homework Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap-4.6.0-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

  <!--NAV LINKS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="scripts/navToggle.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">

  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/site.webmanifest">

</head>
<body>
<div class="topnav" id="myTopnav">

    <a class="active" id="HT" href="/"><img src="images\favicon\android-chrome-192x192.png" alt="HomeworkTracker" width="41"> Home</a>
    <!-- Navigation links (hidden by default) -->
    <a href="/viewTasks">View Tasks</a>
    <a href="/addTask">Add a Task</a>
    <a href="/addTag">Add a Tag</a>
    <a href="/account">View Account Details</a>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="navToggle()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="container">
    <div class="freeTimeContent">
        <h1 style="color: rgb(249, 249, 249);text-align: center;margin: 80px;margin-bottom: 22px;">Week Of: <strong>April 5-11</strong></h1>
<p style="text-align: center;">Let's fill in your weekly <strong>free time</strong> to work on your tasks</p>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;"></p>
        </div>
        <div class="col" style="text-align: center;">
            <p>Monday</p>
        </div>
        <div class="col" style="text-align: center;">
            <p>Tuesday</p>
        </div>
        <div class="col" style="text-align: center;">
            <p>Wednesday</p>
        </div>
        <div class="col" style="text-align: center;">
            <p>Thursday</p>
        </div>
        <div class="col" style="text-align: center;">
            <p>Friday</p>
        </div>
        <div class="col" style="text-align: center;">
            <p>Saturday</p>
        </div>
        <div class="col" style="text-align: center;">
            <p>Sunday</p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">8 AM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">9 AM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">10 AM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">11 AM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">12 AM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">1 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">2 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">3 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">4 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">5 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">6 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">7 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: center;margin: 0px;">8 PM</p>
        </div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
        <div class="col" style="text-align: center;"><input type="checkbox"></div>
    </div>
 
    </div>
</div>


</body>
</html>



       
   
    