.dotted{
    border-top: 3px dashed white;
}

.delete{
    background-color: #412e25;
    color:white;
    width:80%;
}

.passReset{
    background-color: #274b6d;
    color:white;
    width:80%;
}

.signOut{
    background-color: #1a5235;
    color:white;
    width:80%;
}

.center{
    text-align:center;
}

.homeContent{
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
    text-align: center;
}




